In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
import pandas as pd
import pyreadstat

# Caminho do arquivo
file_path = r"D:\OneDrive\Estatística\financ_KPI\inputs\Cap 03 - Exemplo Completo.sav"

# Ler o arquivo .sav
df, meta = pyreadstat.read_sav(file_path)

# Exibir as primeiras linhas do DataFrame
df.head()

,NÚMERO,ID,vendas,plajust,llajust,ativoaj,RP,AO,MV,RA,AF,LUPRE
0,1.0,1.0,33311.5,14176.4,2660.5,36658.5,0.187671,2.585882,0.079867,0.072575,0.908698,1.0
1,2.0,5.0,5329.8,478.6,-1350.0,3901.3,-2.820727,8.151483,-0.253293,-0.346038,1.366160,0.0
2,3.0,7.0,4310.4,4650.4,3180.0,7819.4,0.683812,1.681447,0.737751,0.406681,0.551244,1.0
3,4.0,8.0,4214.1,333.4,-52.7,757.9,-0.158068,2.273245,-0.012506,-0.069534,5.560232,0.0
4,5.0,9.0,4096.8,1239.2,-1290.0,2575.7,-1.040994,2.078518,-0.314880,-0.500835,1.590558,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NÚMERO   297 non-null    float64
 1   ID       297 non-null    float64
 2   vendas   297 non-null    float64
 3   plajust  297 non-null    float64
 4   llajust  297 non-null    float64
 5   ativoaj  297 non-null    float64
 6   RP       297 non-null    float64
 7   AO       297 non-null    float64
 8   MV       297 non-null    float64
 9   RA       297 non-null    float64
 10  AF       297 non-null    float64
 11  LUPRE    297 non-null    float64
dtypes: float64(12)
memory usage: 28.0 KB